.container {
  max-width: 1200px;
  margin: 0 auto;
}
.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  scrollbar-width: none;

  width: 276px;
  border: 1px solid #c9d2ce;
  border-radius: 0 0 5px 5px;
  height: 484px;
  margin-right: 30px;
}
.card::-webkit-scrollbar {
  display: none;
}
.title {
  display: flex;
  align-items: center;
  width: 276px;
  height: 39px;
  border: 1px solid #c9d2ce;
  border-bottom: none;
  border-radius: 3px 3px 0px 0px;
  background: #f2faf6;
}
.card-box {
  height: 100px;
  display: flex;
  border-radius: 4px;
  box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.15) inset, 0px 2px 0px 0px rgba(0, 0, 0, 0.05) inset;
  background: #fff;
  padding: 12px;
  margin-top: 12px;
}
.card-item__profession {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-item__department {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-item__btn {
  display: flex;
  height: 24px;
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  background: #f6f2ff;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.btn_text {
  color: var(--Additional-Violet, #856ec6);
  font-family: Roboto;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.card_btns {
  display: flex;
  margin: 8px 0 12px 0;
}
.icon_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #ebf3ef;
  background: #fafffc;
}
.icon_btn p {
  margin-left: 6px;
}
.card_user {
  display: flex;
  align-items: center;
}
.card-item__photo {
  margin-right: 8px;
}
.card-user__title {
  color: #969f9b;
  font-family: Roboto;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card-item__name {
  width: 150px;
  height: 14px;
  overflow: hidden;
  color: var(--BW-80, #414644);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-left__btn {
  margin-left: 28px;
}
.card-left__btn button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.card-left__btn button:hover {
  background-color: #f2faf6;
}
/* .scroll {
  overflow-y: scroll;
  height: 700px;
  width: 50%;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
} */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  height: 500px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
